<?xml version="1.0"?>
<config>
    <modules>
        <Cmallory_Lifx>
            <version>0.1</version>
        </Cmallory_Lifx>
    </modules>
    <global>
        <models>
            <lifx>
                <class>Cmallory_Lifx_Model</class>
            </lifx>
        </models>
        <helpers>
            <cmallory_lifx>
                <class>Cmallory_Lifx_Helper</class>
            </cmallory_lifx>
        </helpers>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <auto_invoice_order>
                        <type>singleton</type>
                        <class>Cmallory_Lifx_Model_Observer</class>
                        <method>sendSalesLight</method>
                    </auto_invoice_order>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cmallory_lifx>
                                            <title>LIFX Notifications</title>
                                        </cmallory_lifx>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
